<div class="row">
  <div class="col-sm-12">
    <h3>
      Colors
    </h3>
    <hr>
  </div>
  <div class="col-sm-12">
    <h6 class="gray m-y-2">Primary Colors</h6>
  </div>
  <div class="col-sm-3 m-b-2">
    <div class="color-item">
      <div class="color-display bg-primary">
      </div>
      <div class="p-a-1">
        <span class="color-title">Hex:</span>
        <span class="color-name">#1FBAD6</span>
        <span class="color-title">SCSS:</span>
        <span class="color-name">$brand-primary</span>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="color-item">
      <div class="color-display bg-success">
      </div>
      <div class="p-a-1">
        <span class="color-title">Hex:</span>
        <span class="color-name">#1FBF66</span>
        <span class="color-title">SCSS:</span>
        <span class="color-name">$brand-success</span>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="color-item">
      <div class="color-display bg-warning">
      </div>
      <div class="p-a-1">
        <span class="color-title">Hex:</span>
        <span class="color-name">#FFDE00</span>
        <span class="color-title">SCSS:</span>
        <span class="color-name">$brand-warning</span>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="color-item">
      <div class="color-display bg-danger">
      </div>
      <div class="p-a-1">
        <span class="color-title">Hex:</span>
        <span class="color-name">#EE4F4F</span>
        <span class="color-title">SCSS:</span>
        <span class="color-name">$brand-danger</span>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="color-item">
      <div class="color-display bg-info">
      </div>
      <div class="p-a-1">
        <span class="color-title">Hex:</span>
        <span class="color-name">#00ECE4</span>
        <span class="color-title">SCSS:</span>
        <span class="color-name">$brand-info</span>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="col-sm-12 m-t-2">
    <script src="https://gist.github.com/hcaiano/211b8ba86a250301b4fc.js"></script>
  </div>
  <div class="col-sm-12">
    <h6 class="gray m-y-2">Neutral Colors</h6>
  </div>
  <div class="col-sm-3 m-b-2">
    <div class="color-item">
      <div class="color-display bg-black">
      </div>
      <div class="p-a-1">
        <span class="color-title">Hex:</span>
        <span class="color-name">#2C2D31</span>
        <span class="color-title">SCSS:</span>
        <span class="color-name">$black</span>
      </div>
    </div>
  </div>
  <div class="col-sm-3 m-b-2">
    <div class="color-item">
      <div class="color-display bg-gray-dark">
      </div>
      <div class="p-a-1">
        <span class="color-title">Hex:</span>
        <span class="color-name">#323b43</span>
        <span class="color-title">SCSS:</span>
        <span class="color-name">$gray-dark</span>
      </div>
    </div>
  </div>
  <div class="col-sm-3 m-b-2">
    <div class="color-item">
      <div class="color-display bg-gray">
      </div>
      <div class="p-a-1">
        <span class="color-title">Hex:</span>
        <span class="color-name">#4F5963</span>
        <span class="color-title">SCSS:</span>
        <span class="color-name">$gray</span>
      </div>
    </div>
  </div>
  <div class="col-sm-3 m-b-2">
    <div class="color-item">
      <div class="color-display bg-gray-light">
      </div>
      <div class="p-a-1">
        <span class="color-title">Hex:</span>
        <span class="color-name">#818a91</span>
        <span class="color-title">SCSS:</span>
        <span class="color-name">$gray-light</span>
      </div>
    </div>
  </div>
  <div class="col-sm-3 m-b-2">
    <div class="color-item">
      <div class="color-display bg-gray-lighter">
      </div>
      <div class="p-a-1">
        <span class="color-title">Hex:</span>
        <span class="color-name">#ced7df</span>
        <span class="color-title">SCSS:</span>
        <span class="color-name">$gray-lighter</span>
      </div>
    </div>
  </div>
  <div class="col-sm-3 m-b-2">
    <div class="color-item">
      <div class="color-display bg-lightborder">
      </div>
      <div class="p-a-1">
        <span class="color-title">Hex:</span>
        <span class="color-name">#eff3f6</span>
        <span class="color-title">SCSS:</span>
        <span class="color-name">$brand-lightborder</span>
      </div>
    </div>
  </div>
  <div class="col-sm-3 m-b-2">
    <div class="color-item">
      <div class="color-display bg-gray-lightest">
      </div>
      <div class="p-a-1">
        <span class="color-title">Hex:</span>
        <span class="color-name">#f4f7f9</span>
        <span class="color-title">SCSS:</span>
        <span class="color-name">$gray-lightest</span>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="col-sm-12 m-t-2">
    <script src="https://gist.github.com/hcaiano/28b6a652946245044119.js"></script>
  </div>
</div>