<div class="row">
  <div class="col-sm-12 m-t-3">
    <h3>
      Forms
    </h3>
    <hr>
  </div>
  <div class="col-sm-12">
    <h6 class="gray m-y-2">
      Simple Inputs
    </h6>
    <form>
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        <small class="text-muted">We'll never share your email with anyone else.</small>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </fieldset>
    </form>
    <div class="clearfix m-t-2"></div>
    <script src="https://gist.github.com/hcaiano/0aab42a1423a74fb37f6.js"></script>
  </div>
  <div class="col-sm-12">
    <h6 class="gray m-y-2">
      Simple Select
    </h6>
    <form>
      <fieldset class="form-group">
        <label for="exampleSelect1">Example select</label>
        <select class="form-control c-select" id="exampleSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </fieldset>
    </form>
    <div class="clearfix m-t-2"></div>
    <script src="https://gist.github.com/hcaiano/0aab42a1423a74fb37f6.js"></script>
  </div>
</div>