<div class="row">
  <div class="col-sm-12 m-t-3">
    <h3>
      Reading Blocks
    </h3>
    <hr>
  </div>
  <div class="col-sm-12">
    <h6 class="gray m-y-2">
      Reading Regular
    </h6>
    <p class="reading reading-regular">
      Once you <span class="underline">enable</span> the <a href="https://async.com">async call</a> stack feature in <strong>DevTools</strong>, you <em>will be able</em> to <a href="https://www.codeplace.com">drill into the state</a> of your web app at various points in time. Walk the full stack trace for some event listeners, <code>setInterval</code>, <code>setTimeout</code>, <code>XMLHttpRequest</code>, <code>promises</code>, <code>requestAnimationFrame</code>, <code>MutationObservers</code>, and more.
    </p>
  </div>
  <div class="col-sm-12">
    <h6 class="gray m-y-2">
      Reading Small
    </h6>
    <p class="reading reading-small">
      Once you <span class="underline">enable</span> the <a href="https://async.com">async call</a> stack feature in <strong>DevTools</strong>, you <em>will be able</em> to <a href="https://www.codeplace.com">drill into the state</a> of your web app at various points in time. Walk the full stack trace for some event listeners, <code>setInterval</code>, <code>setTimeout</code>, <code>XMLHttpRequest</code>, <code>promises</code>, <code>requestAnimationFrame</code>, <code>MutationObservers</code>, and more.
    </p>
  </div>
  <div class="col-sm-12">
    <h6 class="gray m-y-2">
      Reading Large
    </h6>
    <p class="reading reading-large">
      Once you <span class="underline">enable</span> the <a href="https://async.com">async call</a> stack feature in <strong>DevTools</strong>, you <em>will be able</em> to <a href="https://www.codeplace.com">drill into the state</a> of your web app at various points in time. Walk the full stack trace for some event listeners, <code>setInterval</code>, <code>setTimeout</code>, <code>XMLHttpRequest</code>, <code>promises</code>, <code>requestAnimationFrame</code>, <code>MutationObservers</code>, and more.
    </p>
  </div>
</div>