<div class="minimal-sidebar fixed">
  <ul class="ms-list list-unstyled">
    <span class="ms-list-title">UI Design Basics</span>
    <a href="#" class="ms-list-item">
      <li>Colors</li>
    </a>
    <a href="#" class="ms-list-item">
      <li class="active">Cenas</li>
    </a>
    <a href="#" class="ms-list-item">
      <li>Vai po Caralho</li>
    </a>
    <a href="#" class="ms-list-item">
      <li>Cenas do crl</li>
    </a>
  </ul>
  <ul class="ms-list list-unstyled">
    <span class="ms-list-title">Atoms</span>
    <a href="#" class="ms-list-item">
      <li>Colors</li>
    </a>
    <a href="#" class="ms-list-item">
      <li>Cenas</li>
    </a>
    <a href="#" class="ms-list-item">
      <li>Vai po Caralho</li>
    </a>
    <a href="#" class="ms-list-item">
      <li>Cenas do crl</li>
    </a>
  </ul>
</div>