<div class="row">
  <div class="col-sm-12 m-t-3">
    <h3>
      Tabs
    </h3>
    <hr>
  </div>
  <div class="col-sm-12">
    <h6 class="gray m-y-2">
      Normal Tabs
    </h6>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Item One</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Item Two</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Item Three</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Item Four</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="home" role="tabpanel">...</div>
      <div class="tab-pane" id="profile" role="tabpanel">...</div>
      <div class="tab-pane" id="messages" role="tabpanel">...</div>
      <div class="tab-pane" id="settings" role="tabpanel">...</div>
    </div>
    <div class="clearfix m-t-2"></div>
    <script src="https://gist.github.com/hcaiano/c307a3fa571dc2e1bf20.js"></script>
  </div>
</div>